@font-face {
	font-family: BZByzantina;
	src: url(fonts/BZByzantina.TTF);
}
@font-face {
	font-family: BZFthores;
	src: url(fonts/BZFthores.TTF);
}
@font-face {
	font-family: BZIson;
	src: url(fonts/BZIson.TTF);
}
@font-face {
	font-family: GFSDidot;
	src: url(fonts/GFSDidot.otf);
	font-weight: normal;
	font-style: normal;
}
#container-div {
	display: flex;
	flex-wrap: wrap;
	/* background-color: white; */
}
.bz-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2em;
}
.bz-block.bz-pointer {
	cursor: pointer;
}
.bz-block.bz-active {
	text-shadow: 0 0 0.5em yellow, 0 0 0.5em yellow, 0 0 0.5em yellow, 0 0 0.5em yellow;
}
.bz-symbol {
	/* byzantina posotita characters leave a space of 7px */
	font-size: 2em;
}
.bz-text {
	font-family: GFSDidot;
	font-size: 1.5em;
	margin: 0 0.1em;
}

.bz-byzantina {
	font-family: BZByzantina;
}
.bz-fthores {
	font-family: BZFthores;
}
.bz-ison {
	font-family: BZIson;
}

.bz-red {
	color: red;
}
/*
.bz-blue {
	color: blue;
}
	*/
