@font-face {
	font-family: BZByzantina;
	src: url(fonts/BZByzantina.TTF);
}
@font-face {
	font-family: BZLoipa;
	src: url(fonts/BZLoipa.TTF);
}
@font-face {
	font-family: BZFthores;
	src: url(fonts/BZFthores.TTF);
}
@font-face {
	font-family: BZIson;
	src: url(fonts/BZIson.TTF);
}
@font-face {
	font-family: BZXronos;
	src: url(fonts/BZXronos.TTF);
}
@font-face {
	font-family: GFSDidot;
	src: url(fonts/GFSDidot.otf);
	font-weight: normal;
	font-style: normal;
}
#bz-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; /* TODO causes faulty character rendering in macos safari */
}
.bz-group {
	display: flex;
}
.bz-group.bz-grow {
	flex-grow: 1;
}
.bz-block {
	display: flex;
	flex-direction: column;
	align-items: center; /* center align symbol and text */
	font-size: 24pt;
	margin-bottom: 1em;
}
.bz-block.bz-pointer {
	cursor: pointer;
}
.bz-block.bz-active {
	text-shadow: 0 0 0.5em yellow, 0 0 0.5em yellow, 0 0 0.5em yellow, 0 0 0.5em yellow;
}
.bz-block.bz-newline {
	flex-basis: 100%; /* occupy whole line */
	margin-bottom: 0;
}
.bz-symbol {
	display: flex;
	margin-bottom: -0.8em; /* bring text closer to symbol */
}
.bz-symbol-main {
	position: relative;
}
.bz-text {
	font-family: GFSDidot;
	font-size: 16pt;
	margin: 0 0.1em;
}

.bz-byzantina {
	font-family: BZByzantina;
}
.bz-loipa {
	font-family: BZLoipa;
}
.bz-fthores {
	font-family: BZFthores;
}
.bz-ison {
	font-family: BZIson;
}
.bz-chronos {
	font-family: BZXronos;
}

/* fix loipa height */
.bz-symbol-main:has(.bz-posotita.bz-loipa) {
	margin-top: -0.1em;
}

.bz-red {
	color: red;
}
.bz-blue {
	color: blue;
}
